.title {
    font-family: "Times New Roman", serif;
    font-size: 15pt;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: .2px;
}

a {
    font-family: "Times New Roman", serif;
}

.body {
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 108%;
}

.red {
    color: #e74c3c;
}

.active {
    display: block;
}

.hide {
    display: none;
}

.tab-active {
    font-weight: bold;
}

.tab-inactive {
    font-weight: 400;
}